<div class="row">
    <div class="col-12 pl-1 pr-1">
        <div class="card mt-1 mb-1 ">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title text-center">Add Product</h4>
                    <div class="tab-content">
                        <div class="tab-pane fade mt-2 show active" id="products" role="tabpanel"
                             aria-labelledby="account-tab">
                            <form class="needs-validation" [formGroup]="iProductForm" (ngSubmit)="onSubmit()" novalidate>
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label>Product</label>
                                                <select id="product" class="form-control"
                                                        formControlName="product" >
                                                    <option [ngValue]="product" *ngFor="let product of products">
                                                        {{ product.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label>Quantity</label>
                                                <input type="number" placeholder="Quantity"
                                                       class="form-control" aria-invalid="false"
                                                       formControlName="quantity">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label>Price ($)</label>
                                                <input type="number" placeholder="Price" step=".01"
                                                       class="form-control" aria-invalid="false"
                                                       formControlName="price">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label>Tax (%)</label>
                                                <input type="number" placeholder="Tax"
                                                       class="form-control" aria-invalid="false"
                                                       formControlName="tax">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                    <button class="btn btn-success"
                                            type="submit" name="action" value="save"
                                            [disabled]="!iProductForm.valid">Add
                                     </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="panel mb-0">
    <div class="panel-body">
        <div class="users-list-table">
            <div class="row">
                <div class="col-12 pl-1 pr-1">
                    <div class="card">
                        <div class="card-content fw-container">
                            <div class="card-body fw-body">
                                <h4 class="card-title text-center">Product List</h4>
                                <div class="table-responsive content demo-html">
                                    <table id="example"
                                           class="table table-striped table-bordered file-export"
                                           style="width:100%">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Tax</th>
                                            <th>Total</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let iproduct of invProducts; let i = index">
                                            <td >{{ i + 1 }}</td>
                                            <td >{{ iproduct.product.name }}</td>
                                            <td >{{ iproduct.quantity }}</td>
                                            <td >{{ iproduct.price }}</td>
                                            <td >{{ iproduct.tax }}</td>
                                            <td >{{ iproduct.total }}</td>
                                            <td class="del justify-content-center">
                                                <a type="button"
                                                (click)="deleteInvProduct(iproduct)"
                                                ><fa-icon [icon]="faTrashCan"  ></fa-icon>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
