
<nav class="navbar navbar-expand-lg navbar-dark text-dark" style="background-color: #adf0b6;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"><img src="assets/images/CydeoLogoMini.jpg" height="40" alt="Cydeo"/></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0" style="background-color: #adf0b6;">
            <div class="d-flex flex-column align-items-center align-items-sm-start m-0 p-0 text-dark min-vh-100">
                <ul class="list-group list-group-flush w-100">
                    <br>
                    <br>
                    <li class="list-group-item" style="background-color: #adf0b6;">
                        <a class="btn btn-outline" data-bs-toggle="collapse" href="#management" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa fa-fw fa-list-ul"></i> Management
                        </a>
                        <div class="collapse" id="management">
                            <ul class="list-group list-group-flush">
                                <a routerLink="/userlist" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action text-white"
                                   style="background-color: #244328;"><small>User Registration</small></a>
                                <a routerLink="/client-list" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action text-white"
                                   style="background-color: #244328;"><small>Client/Vendor Registration</small></a>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item" style="background-color: #adf0b6;">
                        <a class="btn btn-outline" data-bs-toggle="collapse" href="#stock" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa fa-fw fa-list-ul"></i> Stock Management
                        </a>
                        <div class="collapse" id="stock">
                            <ul class="list-group list-group-flush">
                                <a routerLink="/category-list" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action text-white"
                                   style="background-color: #244328;"><small>Category</small></a>
                                <a routerLink="/product-list" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action text-white"
                                   style="background-color: #244328;"><small>Product</small></a>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item" style="background-color: #adf0b6;">
                        <a class="btn btn-outline" data-bs-toggle="collapse" href="#invoice" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa fa-fw fa-list-ul"></i> Invoices
                        </a>
                        <div class="collapse" id="invoice">
                            <ul class="list-group list-group-flush">
                                <a routerLink="/invoices" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action text-white"
                                   style="background-color: #244328;"><small>Sale Invoice</small></a>
                                <a routerLink="/invoices" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action text-white"
                                   style="background-color: #244328;"><small>Purchase Invoice</small></a>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item" style="background-color: #adf0b6;">
                      <a class="btn btn-outline" data-bs-toggle="collapse" href="#reporting" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-fw fa-list-ul"></i> Reporting
                      </a>
                      <div class="collapse" id="reporting">
                          <ul class="list-group list-group-flush">
                              <a routerLink="/profit" routerLinkActive="active" ariaCurrentWhenActive="page"
                                 class="list-group-item list-group-item-action text-white"
                                 style="background-color: #244328;"><small>Profit/Loss Report</small></a>
                              <a routerLink="/stock" routerLinkActive="active" ariaCurrentWhenActive="page"
                                 class="list-group-item list-group-item-action text-white"
                                 style="background-color: #244328;"><small>Stock Report</small></a>
                          </ul>
                      </div>
                    </li>
                    <li class="list-group-item" style="background-color: #adf0b6;">
                      <a class="btn btn-outline" data-bs-toggle="collapse" href="#administration" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-fw fa-list-ul"></i> Administration
                      </a>
                      <div class="collapse" id="administration">
                          <ul class="list-group list-group-flush">
                              <a routerLink="/profit" routerLinkActive="active" ariaCurrentWhenActive="page"
                                 class="list-group-item list-group-item-action text-white"
                                 style="background-color: #244328;"><small>Membership Payment</small></a>
                              <a routerLink="/stock" routerLinkActive="active" ariaCurrentWhenActive="page"
                                 class="list-group-item list-group-item-action text-white"
                                 style="background-color: #244328;"><small>Log Document</small></a>
                          </ul>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
