
<nav class="navbar navbar-expand-lg navbar-dark text-dark" style="background-color: #adf0b6;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"><img src="assets/images/CydeoLogoMini.jpg" height="40" alt="Cydeo"/></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0" style="background-color: #adf0b6;">
            <div class="d-flex flex-column align-items-center align-items-sm-start m-0 p-0 text-dark min-vh-100">
                <ul class="list-group list-group-flush w-100">
                    <li class="list-group-item" style="background-color: #adf0b6;">
                        <a class="btn btn-outline" data-bs-toggle="collapse" href="#administration" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Administration
                        </a>
                        <div class="collapse" id="administration">
                            <ul class="list-group list-group-flush">
                                <a routerLink="/userlist" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action"
                                   style="background-color: #244328;">Users</a>
                                <a routerLink="/userlist" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action"
                                   style="background-color: #244328;">Companies</a>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item" style="background-color: #adf0b6;">
                        <a class="btn btn-outline" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Administration
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="list-group list-group-flush">
                                <a routerLink="/userlist" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action"
                                   style="background-color: #244328;">Users</a>
                                <a routerLink="/userlist" routerLinkActive="active" ariaCurrentWhenActive="page"
                                   class="list-group-item list-group-item-action"
                                   style="background-color: #244328;">Companies</a>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
                
                
                
            </div>
        </div>
        
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
