<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content">
            <div class="ecommerce-widget">
                <header class="panel-heading text-center">
                    <div class="row">
                        <div class="col-11">
                            <h3 class="panel-title">Update Product</h3>
                        </div>
                        <div class="col-1">
                            <a routerLink="/product-list" routerLinkActive="active" ariaCurrentWhenActive="page"
                            ><fa-icon [icon]="faList" size="2x" ></fa-icon></a>
                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                             aria-labelledby="account-tab">
                                             <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                                                    <div class="row justify-content-center">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group m-3">
                                                                <div class="controls">
                                                                    <label>Category</label>
                                                                    <select id="category" name="category" 
                                                                            class="custom-select form-control"
                                                                            formControlName="category">
                                                                        <option [ngValue]="cat" *ngFor="let cat of categories">{{ cat.description }}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group  m-3">
                                                                <div class="controls">
                                                                    <label>Name</label>
                                                                    <input type="text" 
                                                                           placeholder="Name"
                                                                           class="form-control"
                                                                           formControlName="productName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group m-3">
                                                                <div class="controls">
                                                                    <label>Low Limit Alert</label>
                                                                    <input type="number" 
                                                                           placeholder="Low Limit Alert"
                                                                           class="form-control"
                                                                           formControlName="lowLimitAlert">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group m-3">
                                                                <div class="controls">
                                                                    <label>Product Unit</label>
                                                                    <select class="custom-select form-control"
                                                                            formControlName="productUnit">
                                                                        <option value="LBS">Libre</option>
                                                                        <option value="GALLON">Gallon</option>
                                                                        <option value="PCS">Pieces</option>
                                                                        <option value="KG">Kilogram</option>
                                                                        <option value="METER">Meter</option>
                                                                        <option value="INCH">Inch</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                        <button class="btn btn-success"
                                                                type="submit" name="action" value="save"
                                                                [disabled]="!productForm.valid">Save
                                                        </button>
                                                        <button class="btn btn-danger "
                                                                type="reset">
                                                            Reset
                                                        </button>
                                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


